.vh-70 {
  height: 70vh;
}

.overflow-scroll {
  overflow-y: scroll;
}

.btn_1:disabled, .btn_1[readonly], .btn_1.disabled {
  opacity: .65;
  pointer-events: none;
}

label.error {
  width: 100%;
  color: #e54750;
  font-weight: bold;
  font-size: 12px;
}

header.header .dropdown.user > a:after {
  margin-left: 15px;
  color: #fff;
}

header.header.sticky ul#top_menu li a, header.header ul#top_menu li .dropdown-menu ul li a, header.header.sticky .dropdown.user > a:after {
  color: #444;
}